* {
    box-sizing: border-box;
    margin: 0;
    display: table;
    height: 100%
    width: 100%
}

  body {
    background: url('../images/cardboard.png');
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    color: #777777;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold; 
  }
  
  header {
    width; 100%;
    font-size: 22px;
    background: #ffffff;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 30px;
    display: table-row;
  }
  
  header h1 {
    background: #4aaaa5;
    color: white;
    padding: 30px;
    font-size; 30px;
}
  
  nav {
    width: 300px;
    float: right;
    margin-top: 35px;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
  }

  a:default {
    color: teal;
  }

/*-- CHANGE ME --*/
a:active {
    background: orchid;
}

/*-- CHANGE ME --*/
a:hover {
    background: green;
}

/*-- CHANGE ME --*/
a:focus {
    color: palevioletred;
}

/*-- CHANGE ME --*/
form label {
    font-size: 18px;
    display: block;
}

  form input, form textarea {
    width: 100%;
    display: block;
    margin: 5px 0 20px 0;
    border: 2px solid #cccccc;
    padding: 7px;
    font-size: 16px;
}

  form button {
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
}
  
nav ul li a {
    color: #333333;
    font-size: 18px;
    padding: 5px 15px;
    text-decoration: none;
}
  
nav ul li:last-child a {
    border-right: none;
    padding-right: none;
}
  
p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.wrapperTwo {
    padding: 20px;
    height: auto;
}
  
  footer {
    font-size: 12px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background: #666666;
    border-top: 5px solid #4aaaa5;
    margin-bottom: 30px;
    margin-bottom: 22px;
    padding: 30px;
    display: table-row;
    height: 1px;
  }
  
  .wrapper {
    width: 960px;
    margin: 0 auto;
    height: auto;
  }
  
  .inline-img {
    float: left;
    margin: 0 15px 15px 0;
    border: 1px solid #777777;
  }
  
  .clearfix {
    display: block;
    clear: both;
  }
  
  #left-column {
    position: absolute;
    height: 60%;
    background: white;
    padding: 24px;
    border: 2px solid #ccc;
    width: 650px;
    float: left;
  }
  
  #left-column h2 {
    font-size: 24px;
    padding: 15px 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
  }
  
  #right-column {
    background: white;
    padding: 25px;
    border: 2px solid #ccc;
    width: 270px;
    float: right;
  }
  
  #right-column h3 {
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    padding: 17px;
  }
  
  #right-column ul {
    text-align: center;
  }
  
  #right-column ul li {
    display: inline-block;
  }
  
  #right-column ul li img {
    width: 60px;
  }