* {
    box-sizing: border-box;
  }
  
  body {
    background: url('../images/cardboard.png');
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    color: #777777;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold; 
  }
  
  header {
    width; 100%;
    font-size: 22px;
    background: #ffffff;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 30px;
  }
  
  header h1 {
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 30px;
    font-size; 30px;
  }
  
  nav {
    width: 300px;
    float: right;
    margin-top: 35px;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
  }

  nav ul li a {
    color: #333333;
    font-size: 16px;
    padding: 5px 15px;
    border-right: 2px solid #4aaaa5;
    text-decoration: none;
  }

  nav ul li:last-child a {
    border-right: none;
    padding-right: none;
  }

  form input, form textarea {
    width: 100%;
    height: 
    display: block;
    margin: 5px 0 20px 0;
    border: 2px solid #cccccc;
    padding: 7px;
    font-size: 16px;
  }

  form button {
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
  }
  
  p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background: #666666;
    border-top: 5px solid #4aaaa5;
    margin-bottom: 30px;
    margin-bottom: 22px;
    padding: 30px;
  }
  
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }
  
  .inline-img {
    float: left;
    margin: 0 15px 15px 0;
  }

  .portfolioItem {
    position: relative;
    background-color: #777777;
    margin-bottom: 20px;
    width: 45%;
    float: left;
    height: 250px;
    width: 275px;
  }

  .portfolioItem:nth-of-type(even) {
    float: right;
  }

  .portfolioItem h4 {
    background: #4aaaa5;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: absolute;
    bottom: 15px;
  }

  #imageOne {
    background: url('../images/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #imageTwo {
    background: url('../images/img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #imageThree {
    background: url('../images/img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #imageFour {
    background: url('../images/img4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #imageFive {
    background: url('../images/img5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #imageSix {
    background: url('../images/img6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .clearfix {
    display: block;
    clear: both;
  }
  
  #left-column {
    position: absolute;
    height: auto;
    background: white;
    padding: 24px;
    border: 2px solid #ccc;
    width: 650px;
    float: left;
  }
  
  #left-column h2 {
    font-size: 24px;
    padding: 15px 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
  }
  
  #right-column {
    background: white;
    padding: 25px;
    border: 2px solid #ccc;
    width: 270px;
    float: right;
  }
  
  #right-column h3 {
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    padding: 17px;
  }
  
  #right-column ul {
    text-align: center;
  }
  
  #right-column ul li {
    display: inline-block;
  }
  
  #right-column ul li img {
    width: 60px;
  }